<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head lang="en">
  <meta charset="UTF-8"/>
  <title>freshFarmOrganics</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h2 class="page-section-title">Milk</h2>

<div class="product-grid">
  <div th:each="m : ${milk}" class="product-card">
    <img th:src="${m.imageUrl}" alt="Milk image">
    <h3 th:text="${m.productName}"></h3>
    <p th:text="${m.description}"></p>
    <p>Price: £<span th:text="${m.unitPrice}"></span></p>
    <button class="add-to-basket">+ Add to Basket</button>
  </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>